form.search {
  overflow: auto;
  margin-bottom: 10px;
  width: 300px;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
}


.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #435970;
  border-radius: 32px;
  font-size: 12px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.card {

  display: -ms-flexbox;
  display: flex; 
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem; 
}

.theme-card-body {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 780px;
  height: 370px;
}

.gap {
  
  background-color: transparent;
  width: 1500px;
  height: 180px;
  margin-left: -200px;
  margin-right: -200px;
  margin-top: -70px;
  }

.lineitems{
  display: flex;
  flex-direction: row;
  align-items:center;
  font-size: 26px;
  padding:.5px;
  gap: 5px;
  margin-top: 5px;
  margin-left: 150px;
}

.lineitems :hover {
  color: green;
}


/* Media Queries */
@media (max-width: 400px) {
  .main-title {
    display: none;
  }
}